# Python Internals
__pycache__/
*.py[cod]
*.pyd
*.pyo

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
cov_html/

# Application Logs
logs/
*.log

# Build & Distribution
build/
dist/
*.spec
temp/

# Environment & IDE
.venv/
venv/
.env
.vscode/
.idea/

# OS Specific
.DS_Store
Thumbs.db

# User Data & Local History
config.json
history/
generated_chat_images/
_renders/
data/history/
